*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #101113; 
    color: #fff;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
}
.logo{
    display: flex;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.bx-headphone{
    color: #34e7f8;
    font-size: 32px;
    margin-right: 5px;
}
.navegação{
    display: flex;

}
.navegação a{
    color: #fcfcfc;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 30px;

}
.navegação a:hover{
    color:#34e7f8;
}

.header-icons{
    display: flex;
    align-items: center;
}
.header-icons i{
    margin: 25px;
    font-size: 28px;
    cursor: pointer;
}
.header-icons i:hover{
    transform: translateY(-5px);
    color: #34e7f8;
}
#menu{
    font-size: 35px;
    color: white;
    z-index: 10001;
    cursor: pointer;
}
.home{
    position: relative;
    height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-text h1{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 2px;
}
.home-text h5{
    color: #ffffff99;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}
.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.home-img img{
    max-width: 100%;
    width: 28rem;
    height: auto;

}
.btn{
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: 2px solid white;
    color: #fff;
}
.btn:hover{
    background-color: white;
    border: 2px solid white;
    color: black;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main li img{
    width: 50px;
    height: auto;
    max-width: 100%;
}
.row{
    background-color: #34e7f8;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.row:hover{
    transform: translateY(-5px);
}
.row2{
    background-color: #ff758d;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.row2:hover{
    transform: translateY(-5px);
}
.row3{
    background-color: #ffd06d;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-8px);
}
.row3:hover{
    transform: translateY( -5px);
}